{% extends "site/base.html" %}
{% block content %}
  {% for key, value in results.items %}
  <h1>{{ key }}</h1>
    <ul class="list-group">
    {% for k, v in value.items %}
        {% if v.0 == "running" %}
          <li class="list-group-item list-group-item-success">
            <strong>{{ k }} : {{ v.0 }}</strong>
          </li>
        {% elif v.0 == "inactive" %}
          <li class="list-group-item list-group-item-warning collapsed">
            <a role="button" data-toggle="collapse" href="#output_{{ k }}"
              aria-expended="true" aria-controlled="output_{{ k }}" > {{ k }} : {{ v.0 }}</a> <br/>
            <pre class="collapse" id="output_{{ k }}">{{ v.1 }}</pre></li>
        {% else %}
          <li class="list-group-item list-group-item-danger">
            <strong>{{ k }} : {{ v.0 }}</strong>
          </li>
        {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock content %}
